openapi: 3.0.0
info:
    title: Websupport API
    version: 1.0.0
    description: Purpose of this API is to enable to manage services provided by Websupport.
externalDocs:
    url: https://rest.websupport.sk/docs/index
servers:
    - url: https://rest.websupport.sk/v1
paths:
    # DNS service
    /user/{userId}/zone:
        get:
            summary: List of all zones
            description: Retrieves a list of all zones.
            tags:
                - DNS service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: page
                  in: query
                  schema:
                      type: integer
                      description: Page number
                - name: pagesize
                  in: query
                  schema:
                      type: integer
                      description: Number of items per page
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: integer
                                                    description: Zone ID
                                                name:
                                                    type: string
                                                    description: Zone name
                                    pager:
                                        type: object
                                        properties:
                                            page:
                                                type: integer
                                                description: Current page number
                                            pagesize:
                                                type: integer
                                                description: Number of items per page
                                            items:
                                                type: integer
                                                description: Total number of items
    /user/{userId}/zone/{domainName}:
        get:
            summary: Get a zone detail
            description: Retrieves the details of a specific zone by its domain name.
            tags:
                - DNS service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: domainName
                  in: path
                  required: true
                  schema:
                      type: string
                      description: Domain name of the zone
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    id:
                                        type: integer
                                        description: Zone ID
                                    name:
                                        type: string
                                        description: Zone name
                                    updateTime:
                                        type: integer
                                        description: Timestamp of last update
                "404":
                    description: Zone not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
    /user/{userId}/zone/{domainName}/record:
        get:
            summary: List all records
            description: Retrieves a list of all records for a specific zone.
            tags:
                - DNS service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: domainName
                  in: path
                  required: true
                  schema:
                      type: string
                      description: Domain name of the zone
                - name: page
                  in: query
                  required: false
                  schema:
                      type: integer
                      description: Page number for pagination
                - name: pagesize
                  in: query
                  required: false
                  schema:
                      type: integer
                      description: Number of items per page for pagination
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: integer
                                                    description: Record ID
                                                type:
                                                    type: string
                                                    description: Record type
                                                name:
                                                    type: string
                                                    description: Record name
                                                content:
                                                    type: string
                                                    description: Record content
                                                ttl:
                                                    type: integer
                                                    description: Time to live in seconds
                                                prio:
                                                    type: integer
                                                    description: Record priority (only for certain types)
                                                weight:
                                                    type: integer
                                                    description: Record weight (only for certain types)
                                                port:
                                                    type: integer
                                                    description: Record port (only for certain types)
                                    pager:
                                        type: object
                                        properties:
                                            page:
                                                type: integer
                                                description: Current page number
                                            pagesize:
                                                type: integer
                                                description: Number of items per page
                                            items:
                                                type: integer
                                                description: Total number of items
                "404":
                    description: Zone not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
        post:
            summary: Create a new record
            description: Creates a new DNS record for a specific domain name and zone.
            tags:
                - DNS service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: domainName
                  in: path
                  required: true
                  schema:
                      type: string
                      description: Domain name of the zone
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                type:
                                    type: string
                                    enum:
                                        [
                                            A,
                                            AAAA,
                                            MX,
                                            ANAME,
                                            CNAME,
                                            NS,
                                            TXT,
                                            SRV,
                                        ]
                                    description: Type of the record
                                name:
                                    type: string
                                    description: Subdomain name or "@" if no subdomain is required
                                content:
                                    type: string
                                    description: Record content (e.g., IP address, domain name)
                                ttl:
                                    type: integer
                                    default: 600
                                    description: "Time to live in seconds (optional, default: 600)"
                                prio:
                                    type: integer
                                    description: Record priority (required for MX and SRV records)
                                port:
                                    type: integer
                                    description: TCP or UDP port (required for SRV records)
                                weight:
                                    type: integer
                                    description: Relative weight for records with the same priority (required for SRV records)
            responses:
                "201":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the operation (success or error)
                                    item:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                                description: Record ID
                                            type:
                                                type: string
                                                description: Record type
                                            name:
                                                type: string
                                                description: Record name
                                            content:
                                                type: string
                                                description: Record content
                                            ttl:
                                                type: integer
                                                description: Time to live in seconds
                                            prio:
                                                type: integer
                                                description: Record priority (only for certain types)
                                            weight:
                                                type: integer
                                                description: Record weight (only for certain types)
                                            port:
                                                type: integer
                                                description: Record port (only for certain types)
                                            zone:
                                                type: object
                                                properties:
                                                    id:
                                                        type: integer
                                                        description: Zone ID
                                                    name:
                                                        type: string
                                                        description: Zone name
                                                    updateTime:
                                                        type: integer
                                                        description: Zone update time
                                    errors:
                                        type: object
                                        properties:
                                            content:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Content validation error messages
                                            name:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Name validation error messages
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the operation (success or error)
                                    item:
                                        type: object
                                        properties:
                                            id:
                                                type: string
                                                nullable: true
                                                description: Null value for failed record creation
                                            type:
                                                type: string
                                                description: Record type
                                            name:
                                                type: string
                                                description: Record name
                                            content:
                                                type: string
                                                description: Record content
                                            ttl:
                                                type: integer
                                                description: Time to live in seconds
                                            prio:
                                                type: integer
                                                description: Record priority (only for certain types)
                                            weight:
                                                type: integer
                                                description: Record weight (only for certain types)
                                            port:
                                                type: integer
                                                description: Record port (only for certain types)
                                            zone:
                                                type: object
                                                properties:
                                                    id:
                                                        type: integer
                                                        description: Zone ID
                                                    name:
                                                        type: string
                                                        description: Zone name
                                                    updateTime:
                                                        type: integer
                                                        description: Zone update time
                                    errors:
                                        type: object
                                        properties:
                                            content:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Content validation error messages
                                            name:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Name validation error messages
                "404":
                    description: Zone not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
    /user/{userId}/zone/{domainName}/record/{recordId}:
        get:
            summary: Get a record
            description: Retrieves a specific record by its domain name and record ID.
            tags:
                - DNS service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: domainName
                  in: path
                  required: true
                  schema:
                      type: string
                      description: Domain name of the zone
                - name: recordId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Record ID
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    id:
                                        type: integer
                                        description: Record ID
                                    type:
                                        type: string
                                        description: Record type
                                    name:
                                        type: string
                                        description: Record name
                                    content:
                                        type: string
                                        description: Record content
                                    ttl:
                                        type: integer
                                        description: Time to live in seconds
                                    prio:
                                        type: integer
                                        description: Record priority (only for certain types)
                                    weight:
                                        type: integer
                                        description: Record weight (only for certain types)
                                    port:
                                        type: integer
                                        description: Record port (only for certain types)
                                    zone:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                                description: Zone ID
                                            name:
                                                type: string
                                                description: Zone name
                                            updateTime:
                                                type: integer
                                                description: Zone update time
                "404":
                    description: Record not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
        put:
            summary: Update a record
            description: Updates an existing DNS record for a specific domain name, zone, and record ID.
            tags:
                - DNS service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: domainName
                  in: path
                  required: true
                  schema:
                      type: string
                      description: Domain name of the zone
                - name: recordId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: ID of the record to update
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                name:
                                    type: string
                                    description: Subdomain name or "@" if no subdomain is required
                                content:
                                    type: string
                                    description: Record content (e.g., IP address, domain name)
                                ttl:
                                    type: integer
                                    description: Time to live in seconds (optional)
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the operation (success or error)
                                    item:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                                description: Record ID
                                            type:
                                                type: string
                                                description: Record type
                                            name:
                                                type: string
                                                description: Record name
                                            content:
                                                type: string
                                                description: Record content
                                            ttl:
                                                type: integer
                                                description: Time to live in seconds
                                            prio:
                                                type: integer
                                                description: Record priority (only for certain types)
                                            weight:
                                                type: integer
                                                description: Record weight (only for certain types)
                                            port:
                                                type: integer
                                                description: Record port (only for certain types)
                                            zone:
                                                type: object
                                                properties:
                                                    id:
                                                        type: integer
                                                        description: Zone ID
                                                    name:
                                                        type: string
                                                        description: Zone name
                                                    updateTime:
                                                        type: integer
                                                        description: Zone update time
                                    errors:
                                        type: object
                                        properties:
                                            content:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Content validation error messages
                                            name:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Name validation error messages
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the operation (success or error)
                                    item:
                                        type: object
                                        properties:
                                            id:
                                                type: string
                                                nullable: true
                                                description: Null value for failed record update
                                            type:
                                                type: string
                                                description: Record type
                                            name:
                                                type: string
                                                description: Record name
                                            content:
                                                type: string
                                                description: Record content
                                            ttl:
                                                type: integer
                                                description: Time to live in seconds
                                            prio:
                                                type: integer
                                                description: Record priority (only for certain types)
                                            weight:
                                                type: integer
                                                description: Record weight (only for certain types)
                                            port:
                                                type: integer
                                                description: Record port (only for certain types)
                                            zone:
                                                type: object
                                                properties:
                                                    id:
                                                        type: integer
                                                        description: Zone ID
                                                    name:
                                                        type: string
                                                        description: Zone name
                                                    updateTime:
                                                        type: integer
                                                        description: Zone update time
                                    errors:
                                        type: object
                                        properties:
                                            content:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Content validation error messages
                                            name:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Name validation error messages
                "404":
                    description: Zone not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
        delete:
            summary: Delete a record
            description: Deletes an existing DNS record for a specific domain name, zone, and record ID.
            tags:
                - DNS service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: domainName
                  in: path
                  required: true
                  schema:
                      type: string
                      description: Domain name of the zone
                - name: recordId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: ID of the record to delete
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the operation (success or error)
                                    item:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                                description: Record ID
                                            type:
                                                type: string
                                                description: Record type
                                            name:
                                                type: string
                                                description: Record name
                                            content:
                                                type: string
                                                description: Record content
                                            ttl:
                                                type: integer
                                                description: Time to live in seconds
                                            prio:
                                                type: integer
                                                description: Record priority (only for certain types)
                                            weight:
                                                type: integer
                                                description: Record weight (only for certain types)
                                            port:
                                                type: integer
                                                description: Record port (only for certain types)
                                            zone:
                                                type: object
                                                properties:
                                                    id:
                                                        type: integer
                                                        description: Zone ID
                                                    name:
                                                        type: string
                                                        description: Zone name
                                                    updateTime:
                                                        type: integer
                                                        description: Zone update time
                                    errors:
                                        type: array
                                        items:
                                            type: string
                                        description: Error messages
                "404":
                    description: Record not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message

    # Hosting service
    /user/{userId}/hosting:
        get:
            summary: List of all hostings
            description: Retrieves a list of all hostings for a specific user.
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: page
                  in: query
                  required: false
                  schema:
                      type: integer
                      description: Page number
                - name: pagesize
                  in: query
                  required: false
                  schema:
                      type: integer
                      description: Number of items per page
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: integer
                                                    description: Hosting ID
                                                name:
                                                    type: string
                                                    description: Hosting name
                                                uuid:
                                                    type: string
                                                    description: Hosting UUID
                                    pager:
                                        type: object
                                        properties:
                                            page:
                                                type: integer
                                                description: Current page number
                                            pagesize:
                                                type: integer
                                                description: Number of items per page
                                            items:
                                                type: integer
                                                description: Total number of items
                "404":
                    description: User not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
    /user/{userId}/hosting/{id-or-uuid}:
        get:
            summary: Get a hosting detail
            description: Retrieves details of a specific hosting by service ID or UUID.
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: id-or-uuid
                  in: path
                  required: true
                  schema:
                      type: string
                      description: Service ID or UUID of the hosting
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    id:
                                        type: integer
                                        description: Hosting ID
                                    name:
                                        type: string
                                        description: Hosting name
                                    uuid:
                                        type: string
                                        description: Hosting UUID
                "404":
                    description: Hosting not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
    /user/{userId}/hosting/{hostingId}/vhost:
        get:
            summary: List of all webhosting domains (vhosts)
            description: Retrieves a list of all webhosting domains (vhosts) for a specific hosting.
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: hostingId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Hosting ID
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: integer
                                                    description: Domain ID
                                                domain:
                                                    type: string
                                                    description: Domain name
                                                sub:
                                                    type: string
                                                    description: Subdomain
                                                webOnStorage:
                                                    type: string
                                                    description: Web on storage
                                                subOnStorage:
                                                    type: string
                                                    description: Subdomain on storage
                                                logsOnStorage:
                                                    type: string
                                                    description: Logs on storage
                                                disabled:
                                                    type: boolean
                                                    description: Indicates if the vhost is disabled
                                                keepAliveOff:
                                                    type: boolean
                                                    description: Indicates if keep-alive is turned off
                                                phpOpenBaseDir:
                                                    type: boolean
                                                    description: Indicates if PHP open_basedir is enabled
                                                phpOpenBaseDirStorage:
                                                    type: boolean
                                                    description: Indicates if PHP open_basedir storage is enabled
                                                phpOpenBaseDirAll:
                                                    type: boolean
                                                    description: Indicates if PHP open_basedir applies to all directories
                                                phpOpenBaseWebInWeb:
                                                    type: boolean
                                                    description: Indicates if PHP open_basedir allows access to web in web
                                                nonExistSubDomainsToWeb:
                                                    type: boolean
                                                    description: Indicates if non-existent subdomains redirect to the web
                                                phpMysql51Default:
                                                    type: boolean
                                                    description: Indicates if PHP MySQL 5.1 is the default version
                                                phpMysql50Default:
                                                    type: boolean
                                                    description: Indicates if PHP MySQL 5.0 is the default version
                                                phpMysql55Default:
                                                    type: boolean
                                                    description: Indicates if PHP MySQL 5.5 is the default version
                                                phpSafeModeOff:
                                                    type: boolean
                                                    description: Indicates if PHP safe mode is turned off
                                                phpRegisterGlobalsOff:
                                                    type: boolean
                                                    description: Indicates if PHP register_globals is turned off
                                                phpUploadMaxFilesize:
                                                    type: integer
                                                    description: Maximum file size for PHP uploads
                                                phpMemoryLimit:
                                                    type: integer
                                                    description: PHP memory limit
                                                phpPostMaxSize:
                                                    type: integer
                                                    description: Maximum POST size for PHP
                                                phpMaxExecutionTime:
                                                    type: integer
                                                    description: Maximum execution time for PHP
                                    pager:
                                        type: object
                                        properties:
                                            page:
                                                type: integer
                                                description: Current page number
                                            pagesize:
                                                type: integer
                                                description: Number of items per page
                                            items:
                                                type: integer
                                                description: Total number of items
                "404":
                    description: Hosting not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
    /user/{userId}/hosting/{hostingId}/vhost/{vhostId}:
        get:
            summary: Get a webhosting domain (vhost) detail
            description: Retrieves the details of a specific webhosting domain (vhost).
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: hostingId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Hosting ID
                - name: vhostId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Vhost ID
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    id:
                                        type: integer
                                        description: Vhost ID
                                    domain:
                                        type: string
                                        description: Domain name
                                    sub:
                                        type: string
                                        description: Subdomain
                                    webOnStorage:
                                        type: string
                                        description: Web on storage
                                    subOnStorage:
                                        type: string
                                        description: Subdomain on storage
                                    logsOnStorage:
                                        type: string
                                        description: Logs on storage
                                    disabled:
                                        type: boolean
                                        description: Indicates if the vhost is disabled
                                    keepAliveOff:
                                        type: boolean
                                        description: Indicates if keep-alive is turned off
                                    phpOpenBaseDir:
                                        type: boolean
                                        description: Indicates if PHP open_basedir is enabled
                                    phpOpenBaseDirStorage:
                                        type: boolean
                                        description: Indicates if PHP open_basedir storage is enabled
                                    phpOpenBaseDirAll:
                                        type: boolean
                                        description: Indicates if PHP open_basedir applies to all directories
                                    phpOpenBaseWebInWeb:
                                        type: boolean
                                        description: Indicates if PHP open_basedir allows access to web in web
                                    nonExistSubDomainsToWeb:
                                        type: boolean
                                        description: Indicates if non-existent subdomains redirect to the web
                                    phpMysql51Default:
                                        type: boolean
                                        description: Indicates if PHP MySQL 5.1 is the default version
                                    phpMysql50Default:
                                        type: boolean
                                        description: Indicates if PHP MySQL 5.0 is the default version
                                    phpMysql55Default:
                                        type: boolean
                                        description: Indicates if PHP MySQL 5.5 is the default version
                                    phpSafeModeOff:
                                        type: boolean
                                        description: Indicates if PHP safe mode is turned off
                                    phpRegisterGlobalsOff:
                                        type: boolean
                                        description: Indicates if PHP register_globals is turned off
                                    phpUploadMaxFilesize:
                                        type: integer
                                        description: Maximum file size for PHP uploads
                                    phpMemoryLimit:
                                        type: integer
                                        description: PHP memory limit
                                    phpPostMaxSize:
                                        type: integer
                                        description: Maximum POST size for PHP
                                    phpMaxExecutionTime:
                                        type: integer
                                        description: Maximum execution time for PHP
                "404":
                    description: Vhost not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
    /user/{userId}/hosting/{hostingId}/size-stats:
        get:
            summary: Get hosting size
            description: Retrieves the size information of a specific hosting.
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: hostingId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Hosting ID
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    hosting:
                                        type: string
                                        description: Hosting name
                                    used:
                                        type: number
                                        format: double
                                        description: Used hosting size in GB
                                    free:
                                        type: number
                                        format: double
                                        description: Free hosting size in GB
                                    available:
                                        type: number
                                        format: double
                                        description: Total available hosting size in GB
                "404":
                    description: Hosting not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
    /user/{userId}/hosting/{hostingId}/domain-stats:
        get:
            summary: Get hosting domains usage
            description: Retrieves the usage information of domains in a specific hosting.
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: hostingId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Hosting ID
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    hosting:
                                        type: string
                                        description: Hosting name
                                    used:
                                        type: integer
                                        description: Number of used domains
                                    free:
                                        type: integer
                                        description: Number of free domains
                                    available:
                                        type: integer
                                        description: Total number of available domains
                "404":
                    description: Hosting not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
    /user/{userId}/hosting/{hostingId}/ftp-stats:
        get:
            summary: Get FTP size
            description: Retrieves the size information of FTP storage in a specific hosting.
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: hostingId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Hosting ID
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    hosting:
                                        type: string
                                        description: Hosting name
                                    used:
                                        type: number
                                        format: double
                                        description: Amount of FTP storage used
                                    free:
                                        type: number
                                        format: double
                                        description: Amount of free FTP storage
                                    available:
                                        type: number
                                        format: double
                                        description: Total amount of available FTP storage
                "404":
                    description: Hosting not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
    /user/{userId}/hosting/{hostingId}/db:
        get:
            summary: List of all databases
            description: Retrieves a list of all databases in a specific hosting.
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: hostingId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Hosting ID
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: integer
                                                    description: Database ID
                                                dbName:
                                                    type: string
                                                    description: Database name
                                                dbUser:
                                                    type: string
                                                    description: Database username
                                                dbType:
                                                    type: string
                                                    description: Database type
                                                deleted:
                                                    type: boolean
                                                    description: Indicates if the database is deleted
                                                disabled:
                                                    type: boolean
                                                    description: Indicates if the database is disabled
                                                domain:
                                                    type: string
                                                    description: Associated domain
                                                note:
                                                    type: string
                                                    description: Additional note or description
                                    pager:
                                        type: object
                                        properties:
                                            items:
                                                type: integer
                                                description: Number of items in the current page
                                            page:
                                                type: integer
                                                description: Current page number
                                            pagesize:
                                                type: integer
                                                description: Number of items per page
                                    domains:
                                        type: array
                                        items:
                                            type: string
                                            description: List of associated domains
                "404":
                    description: Hosting not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
        post:
            summary: Create new database
            description: Creates a new database in the specified hosting.
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: hostingId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Hosting ID
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                domain:
                                    type: string
                                    description: Domain in the selected hosting (sometimes not required)
                                dbName:
                                    type: string
                                    description: Database name
                                dbUser:
                                    type: string
                                    description: Database user
                                dbPassword:
                                    type: string
                                    description: Password required when creating a new user (not required if assigning an existing user)
                                dbType:
                                    type: string
                                    description: Database type (mariadb105, mariadb103, mysql80, mysql57, postgresql100)
                                defaultCollation:
                                    type: string
                                    description: Default character encoding
                                note:
                                    type: string
                                    description: Additional note
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    item:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                                description: Database ID
                                            dbName:
                                                type: string
                                                description: Database name
                                            dbUser:
                                                type: string
                                                description: Database username
                                            dbType:
                                                type: string
                                                description: Database type
                                            deleted:
                                                type: boolean
                                                description: Indicates if the database is deleted
                                            disabled:
                                                type: boolean
                                                description: Indicates if the database is disabled
                                            domain:
                                                type: string
                                                description: Associated domain
                                            note:
                                                type: string
                                                description: Additional note about the database
                                    errors:
                                        type: object
                                        additionalProperties:
                                            type: array
                                            items:
                                                type: string
                                        description: Validation errors (if any)
                                    status:
                                        type: string
                                        description: Request status (success or error)
    /user/{userId}/hosting/{hostingId}/db/{dbId}:
        get:
            summary: Get database detail
            description: Retrieves details of a specific database in a hosting.
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: hostingId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Hosting ID
                - name: dbId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Database ID
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    id:
                                        type: integer
                                        description: Database ID
                                    dbName:
                                        type: string
                                        description: Database name
                                    dbUser:
                                        type: string
                                        description: Database username
                                    dbType:
                                        type: string
                                        description: Database type
                                    deleted:
                                        type: boolean
                                        description: Indicates if the database is deleted
                                    disabled:
                                        type: boolean
                                        description: Indicates if the database is disabled
                                    domain:
                                        type: string
                                        description: Associated domain
                                    note:
                                        type: string
                                        description: Additional note about the database
                "404":
                    description: Database not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
        put:
            summary: Update database
            description: Updates an existing database in the specified hosting.
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: hostingId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Hosting ID
                - name: dbId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Database ID
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                dbPassword:
                                    type: string
                                    description: Database password
                                note:
                                    type: string
                                    description: Additional note
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    item:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                                description: Database ID
                                            dbName:
                                                type: string
                                                description: Database name
                                            dbUser:
                                                type: string
                                                description: Database username
                                            dbType:
                                                type: string
                                                description: Database type
                                            deleted:
                                                type: boolean
                                                description: Indicates if the database is deleted
                                            disabled:
                                                type: boolean
                                                description: Indicates if the database is disabled
                                            domain:
                                                type: string
                                                description: Associated domain
                                            note:
                                                type: string
                                                description: Additional note about the database
                                    errors:
                                        type: object
                                        additionalProperties:
                                            type: array
                                            items:
                                                type: string
                                        description: Validation errors (if any)
                                    status:
                                        type: string
                                        description: Request status (success or error)
        delete:
            summary: Delete a database
            description: Deletes the specified database from the hosting.
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: hostingId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Hosting ID
                - name: dbId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Database ID
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    errors:
                                        type: object
                                        additionalProperties:
                                            type: array
                                            items:
                                                type: string
                                        description: Validation errors (if any)
                                    item:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                                description: Database ID
                                            dbName:
                                                type: string
                                                description: Database name
                                            dbUser:
                                                type: string
                                                description: Database username
                                            dbType:
                                                type: string
                                                description: Database type
                                            deleted:
                                                type: boolean
                                                description: Indicates if the database is deleted
                                            disabled:
                                                type: boolean
                                                description: Indicates if the database is disabled
                                            domain:
                                                type: string
                                                description: Associated domain
                                            note:
                                                type: string
                                                description: Additional note about the database
                                    status:
                                        type: string
                                        description: Request status (success or error)
    /user/{userId}/hosting/{hostingId}/dbusers:
        get:
            summary: List of all databases users
            description: Retrieves a list of all database users in a specific hosting.
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: hostingId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Hosting ID
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: integer
                                                    description: Database user ID
                                                dbUser:
                                                    type: string
                                                    description: Database username
                                                domain:
                                                    type: string
                                                    description: Associated domain
                                                dbType:
                                                    type: string
                                                    description: Database type
                                    domains:
                                        type: array
                                        items:
                                            type: string
                                            description: List of associated domains
                                    pager:
                                        type: object
                                        properties:
                                            page:
                                                type: integer
                                                description: Current page number
                                            pagesize:
                                                type: integer
                                                description: Number of items per page
                                            items:
                                                type: integer
                                                description: Number of items in the current page
                "404":
                    description: Hosting not found
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    code:
                                        type: integer
                                        description: Error code
                                    message:
                                        type: string
                                        description: Error message
    /user/{userId}/hosting/{hostingId}/db/{dbId}/size-stats:
        get:
            summary: DB size
            description: Retrieves the size statistics of the specified database.
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: hostingId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Hosting ID
                - name: dbId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Database ID
                - name: interval
                  in: query
                  required: false
                  schema:
                      type: string
                      description: Time interval (day or hour)
                - name: length
                  in: query
                  required: false
                  schema:
                      type: integer
                      description: Number of shown measurements (time period depends on chosen interval)
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                size:
                                                    type: integer
                                                    description: Database size
                                                timestamp:
                                                    type: integer
                                                    description: Timestamp of the measurement
                                    range:
                                        type: array
                                        items:
                                            type: integer
                                        description: Time range
    /user/{userId}/hosting/{hostingId}/db/{dbId}/cpu-stats:
        get:
            summary: DB CPU
            description: Retrieves the CPU statistics of the specified database.
            tags:
                - Hosting service
            parameters:
                - name: userId
                  in: path
                  required: true
                  schema:
                      type: string
                      description: User ID or "self" for currently logged user
                - name: hostingId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Hosting ID
                - name: dbId
                  in: path
                  required: true
                  schema:
                      type: integer
                      description: Database ID
                - name: interval
                  in: query
                  required: false
                  schema:
                      type: string
                      description: Time interval (day, hour, or minute)
                - name: length
                  in: query
                  required: false
                  schema:
                      type: integer
                      description: Number of shown measurements (time period depends on chosen interval)
                - name: date
                  in: header
                  description: The time used for the signature in the ISO8601 basic format, in the GMT timezone.
                  required: true
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
[...]
