openapi: 3.0.0
info:
    title: Websupport API
    version: 1.0.0
    description: Purpose of this API is to enable to manage services provided by Websupport.
externalDocs:
    url: https://rest.websupport.sk/docs/index
servers:
    - url: https://rest.websupport.sk/v1
paths:
    # DNS service
    /user/{userId}/zone:
        get:
            summary: List of all zones
            description: Retrieves a list of all zones.
            tags:
                - DNS service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/Page"
                - $ref: "#/components/parameters/PageSize"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: integer
                                                    description: Zone ID
                                                name:
                                                    type: string
                                                    description: Zone name
                                    pager:
                                        $ref: "#/components/schemas/Pager"
    /user/{userId}/zone/{domainName}:
        get:
            summary: Get a zone detail
            description: Retrieves the details of a specific zone by its domain name.
            tags:
                - DNS service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/DomainName"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    id:
                                        type: integer
                                        description: Zone ID
                                    name:
                                        type: string
                                        description: Zone name
                                    updateTime:
                                        type: integer
                                        description: Timestamp of last update
                "404":
                    $ref: "#/components/responses/NotFound"
    /user/{userId}/zone/{domainName}/record:
        get:
            summary: List all records
            description: >
                Retrieves a list of all records for a specific zone.
            tags:
                - DNS service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/DomainName"
                - $ref: "#/components/parameters/Page"
                - $ref: "#/components/parameters/PageSize"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/DNSRecord"
                                    pager:
                                        $ref: "#/components/schemas/Pager"
                "404":
                    $ref: "#/components/responses/NotFound"
        post:
            summary: Create a new record
            description: Creates a new DNS record for a specific domain name and zone.
            tags:
                - DNS service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/DomainName"
                - $ref: "#/components/parameters/RequiredDate"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/DNSRecord"
            responses:
                "201":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    item:
                                        $ref: "#/components/schemas/DNSRecord"
                                    status:
                                        type: string
                                        description: Status of the operation (success or error)
                                    errors:
                                        type: object
                                        properties:
                                            content:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Content validation error messages
                                            name:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Name validation error messages
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the operation (success or error)
                                    item:
                                        type: object
                                        properties:
                                            id:
                                                type: string
                                                nullable: true
                                                description: Null value for failed record creation
                                            type:
                                                type: string
                                                description: Record type
                                            name:
                                                type: string
                                                description: Record name
                                            content:
                                                type: string
                                                description: Record content
                                            ttl:
                                                type: integer
                                                description: Time to live in seconds
                                            prio:
                                                type: integer
                                                description: Record priority (only for certain types)
                                            weight:
                                                type: integer
                                                description: Record weight (only for certain types)
                                            port:
                                                type: integer
                                                description: Record port (only for certain types)
                                            zone:
                                                type: object
                                                properties:
                                                    id:
                                                        type: integer
                                                        description: Zone ID
                                                    name:
                                                        type: string
                                                        description: Zone name
                                                    updateTime:
                                                        type: integer
                                                        description: Zone update time
                                    errors:
                                        type: object
                                        properties:
                                            content:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Content validation error messages
                                            name:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Name validation error messages
                "404":
                    $ref: "#/components/responses/NotFound"
    /user/{userId}/zone/{domainName}/record/{recordId}:
        get:
            summary: Get a record
            description: Retrieves a specific record by its domain name and record ID.
            tags:
                - DNS service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/DomainName"
                - $ref: "#/components/parameters/RecordId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    id:
                                        type: integer
                                        description: Record ID
                                    type:
                                        type: string
                                        description: Record type
                                    name:
                                        type: string
                                        description: Record name
                                    content:
                                        type: string
                                        description: Record content
                                    ttl:
                                        type: integer
                                        description: Time to live in seconds
                                    prio:
                                        type: integer
                                        description: Record priority (only for certain types)
                                    weight:
                                        type: integer
                                        description: Record weight (only for certain types)
                                    port:
                                        type: integer
                                        description: Record port (only for certain types)
                                    zone:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                                description: Zone ID
                                            name:
                                                type: string
                                                description: Zone name
                                            updateTime:
                                                type: integer
                                                description: Zone update time
                "404":
                    $ref: "#/components/responses/NotFound"
        put:
            summary: Update a record
            description: Updates an existing DNS record for a specific domain name, zone, and record ID.
            tags:
                - DNS service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/DomainName"
                - $ref: "#/components/parameters/RecordId"
                - $ref: "#/components/parameters/RequiredDate"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                name:
                                    type: string
                                    description: Subdomain name or "@" if no subdomain is required
                                content:
                                    type: string
                                    description: Record content (e.g., IP address, domain name)
                                ttl:
                                    type: integer
                                    description: Time to live in seconds (optional)
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the operation (success or error)
                                    item:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                                description: Record ID
                                            type:
                                                type: string
                                                description: Record type
                                            name:
                                                type: string
                                                description: Record name
                                            content:
                                                type: string
                                                description: Record content
                                            ttl:
                                                type: integer
                                                description: Time to live in seconds
                                            prio:
                                                type: integer
                                                description: Record priority (only for certain types)
                                            weight:
                                                type: integer
                                                description: Record weight (only for certain types)
                                            port:
                                                type: integer
                                                description: Record port (only for certain types)
                                            zone:
                                                type: object
                                                properties:
                                                    id:
                                                        type: integer
                                                        description: Zone ID
                                                    name:
                                                        type: string
                                                        description: Zone name
                                                    updateTime:
                                                        type: integer
                                                        description: Zone update time
                                    errors:
                                        type: object
                                        properties:
                                            content:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Content validation error messages
                                            name:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Name validation error messages
                "400":
                    description: Validation error
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the operation (success or error)
                                    item:
                                        type: object
                                        properties:
                                            id:
                                                type: string
                                                nullable: true
                                                description: Null value for failed record update
                                            type:
                                                type: string
                                                description: Record type
                                            name:
                                                type: string
                                                description: Record name
                                            content:
                                                type: string
                                                description: Record content
                                            ttl:
                                                type: integer
                                                description: Time to live in seconds
                                            prio:
                                                type: integer
                                                description: Record priority (only for certain types)
                                            weight:
                                                type: integer
                                                description: Record weight (only for certain types)
                                            port:
                                                type: integer
                                                description: Record port (only for certain types)
                                            zone:
                                                type: object
                                                properties:
                                                    id:
                                                        type: integer
                                                        description: Zone ID
                                                    name:
                                                        type: string
                                                        description: Zone name
                                                    updateTime:
                                                        type: integer
                                                        description: Zone update time
                                    errors:
                                        type: object
                                        properties:
                                            content:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Content validation error messages
                                            name:
                                                type: array
                                                items:
                                                    type: string
                                                    description: Name validation error messages
                "404":
                    $ref: "#/components/responses/NotFound"
        delete:
            summary: Delete a record
            description: Deletes an existing DNS record for a specific domain name, zone, and record ID.
            tags:
                - DNS service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/DomainName"
                - $ref: "#/components/parameters/RecordId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the operation (success or error)
                                    item:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                                description: Record ID
                                            type:
                                                type: string
                                                description: Record type
                                            name:
                                                type: string
                                                description: Record name
                                            content:
                                                type: string
                                                description: Record content
                                            ttl:
                                                type: integer
                                                description: Time to live in seconds
                                            prio:
                                                type: integer
                                                description: Record priority (only for certain types)
                                            weight:
                                                type: integer
                                                description: Record weight (only for certain types)
                                            port:
                                                type: integer
                                                description: Record port (only for certain types)
                                            zone:
                                                type: object
                                                properties:
                                                    id:
                                                        type: integer
                                                        description: Zone ID
                                                    name:
                                                        type: string
                                                        description: Zone name
                                                    updateTime:
                                                        type: integer
                                                        description: Zone update time
                                    errors:
                                        type: array
                                        items:
                                            type: string
                                        description: Error messages
                "404":
                    $ref: "#/components/responses/NotFound"

    # Hosting service
    /user/{userId}/hosting:
        get:
            summary: List of all hostings
            description: Retrieves a list of all hostings for a specific user.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/Page"
                - $ref: "#/components/parameters/PageSize"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: integer
                                                    description: Hosting ID
                                                name:
                                                    type: string
                                                    description: Hosting name
                                                uuid:
                                                    type: string
                                                    description: Hosting UUID
                                    pager:
                                        $ref: "#/components/schemas/Pager"
                "404":
                    $ref: "#/components/responses/NotFound"
    /user/{userId}/hosting/{id-or-uuid}:
        get:
            summary: Get a hosting detail
            description: Retrieves details of a specific hosting by service ID or UUID.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/IdOrUUID"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    id:
                                        type: integer
                                        description: Hosting ID
                                    name:
                                        type: string
                                        description: Hosting name
                                    uuid:
                                        type: string
                                        description: Hosting UUID
                "404":
                    $ref: "#/components/responses/NotFound"
    /user/{userId}/hosting/{hostingId}/vhost:
        get:
            summary: List of all webhosting domains (vhosts)
            description: >
                Retrieves a list of all webhosting domains (vhosts) for a
                specific hosting.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/WebhostingDomains"
                                    pager:
                                        $ref: "#/components/schemas/Pager"
                "404":
                    $ref: "#/components/responses/NotFound"
    /user/{userId}/hosting/{hostingId}/vhost/{vhostId}:
        get:
            summary: Get a webhosting domain (vhost) detail
            description: >
                Retrieves the details of a specific webhosting domain (vhost).f
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/VhostID"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/WebhostingDomains"
                "404":
                    $ref: "#/components/responses/NotFound"
    /user/{userId}/hosting/{hostingId}/size-stats:
        get:
            summary: Get hosting size
            description: Retrieves the size information of a specific hosting.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SizeStats"
                "404":
                    $ref: "#/components/responses/NotFound"
    /user/{userId}/hosting/{hostingId}/domain-stats:
        get:
            summary: Get hosting domains usage
            description: Retrieves the usage information of domains in a specific hosting.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DomainStats"
                "404":
                    $ref: "#/components/responses/NotFound"
    /user/{userId}/hosting/{hostingId}/ftp-stats:
        get:
            summary: Get FTP size
            description: Retrieves the size information of FTP storage in a specific hosting.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/FTPStats"
                "404":
                    $ref: "#/components/responses/NotFound"
    /user/{userId}/hosting/{hostingId}/db:
        get:
            summary: List of all databases
            description: Retrieves a list of all databases in a specific hosting.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/Database"
                                    pager:
                                        $ref: "#/components/schemas/Pager"
                                    domains:
                                        type: array
                                        items:
                                            type: string
                                            description: List of associated domains
                "404":
                    $ref: "#/components/responses/NotFound"
        post:
            summary: Create new database
            description: Creates a new database in the specified hosting.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/RequiredDate"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Database"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    item:
                                        $ref: "#/components/schemas/Database"
                                    errors:
                                        $ref: "#/components/schemas/ValidationErrors"
                                    status:
                                        type: string
                                        description: Request status (success or error)
    /user/{userId}/hosting/{hostingId}/db/{dbId}:
        get:
            summary: Get database detail
            description: Retrieves details of a specific database in a hosting.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/DatabaseId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Database"
                "404":
                    $ref: "#/components/responses/NotFound"
        put:
            summary: Update database
            description: Updates an existing database in the specified hosting.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/DatabaseId"
                - $ref: "#/components/parameters/RequiredDate"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/DatabaseUpdate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    item:
                                        $ref: "#/components/schemas/Database"
                                    errors:
                                        $ref: "#/components/schemas/ValidationErrors"
                                    status:
                                        type: string
                                        description: Request status (success or error)
        delete:
            summary: Delete a database
            description: Deletes the specified database from the hosting.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/DatabaseId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    errors:
                                        $ref: "#/components/schemas/ValidationErrors"
                                    item:
                                        $ref: "#/components/schemas/Database"
                                    status:
                                        type: string
                                        description: Request status (success or error)
    /user/{userId}/hosting/{hostingId}/dbusers:
        get:
            summary: List of all databases users
            description: Retrieves a list of all database users in a specific hosting.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: integer
                                                    description: Database user ID
                                                dbUser:
                                                    type: string
                                                    description: Database username
                                                domain:
                                                    type: string
                                                    description: Associated domain
                                                dbType:
                                                    type: string
                                                    description: Database type
                                    domains:
                                        type: array
                                        items:
                                            type: string
                                            description: List of associated domains
                                    pager:
                                        $ref: "#/components/schemas/Pager"
                "404":
                    $ref: "#/components/responses/NotFound"
    /user/{userId}/hosting/{hostingId}/db/{dbId}/size-stats:
        get:
            summary: DB size
            description: Retrieves the size statistics of the specified database.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/DatabaseId"
                - $ref: "#/components/parameters/Interval"
                - $ref: "#/components/parameters/Length"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                size:
                                                    type: integer
                                                    description: Database size
                                                timestamp:
                                                    type: integer
                                                    description: Timestamp of the measurement
                                    range:
                                        description: Time range
                                        $ref: "#/components/schemas/Range"
    /user/{userId}/hosting/{hostingId}/db/{dbId}/cpu-stats:
        get:
            summary: DB CPU
            description: Retrieves the CPU statistics of the specified database.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/DatabaseId"
                - $ref: "#/components/parameters/Interval"
                - $ref: "#/components/parameters/Length"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                access_denied:
                                                    type: integer
                                                    description: Number of access denied
                                                binlog_bytes_written:
                                                    type: integer
                                                    description: Number of bytes written to the binary log
                                                busy_time:
                                                    type: integer
                                                    description: CPU busy time
                                                bytes_received:
                                                    type: integer
                                                    description: Number of bytes received
                                                bytes_sent:
                                                    type: integer
                                                    description: Number of bytes sent
                                                commit_transactions:
                                                    type: integer
                                                    description: Number of commit transactions
                                                concurrent_connections:
                                                    type: integer
                                                    description: Number of concurrent connections
                                                connected_time:
                                                    type: integer
                                                    description: Time connected
                                                cpu_time:
                                                    type: integer
                                                    description: CPU time
                                                denied_connections:
                                                    type: integer
                                                    description: Number of denied connections
                                                empty_queries:
                                                    type: integer
                                                    description: Number of empty queries
                                                lost_connections:
                                                    type: integer
                                                    description: Number of lost connections
                                                other_commands:
                                                    type: integer
                                                    description: Number of other commands
                                                rollback_transactions:
                                                    type: integer
                                                    description: Number of rollback transactions
                                                rows_fetched:
                                                    type: integer
                                                    description: Number of rows fetched
                                                rows_updated:
                                                    type: integer
                                                    description: Number of rows updated
                                                select_commands:
                                                    type: integer
                                                    description: Number of select commands
                                                table_rows_read:
                                                    type: integer
                                                    description: Number of table rows read
                                                timestamp:
                                                    type: integer
                                                    description: Timestamp of the measurement
                                                total_connections:
                                                    type: integer
                                                    description: Total number of connections
                                                update_commands:
                                                    type: integer
                                                    description: Number of update commands
                                    range:
                                        description: Time range
                                        $ref: "#/components/schemas/Range"
    /user/{userId}/hosting/{hostingId}/mailbox:
        get:
            summary: List of all mailboxes
            description: Retrieves a list of all mailboxes for the specified user and hosting.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/Mailbox"
                                    pager:
                                        $ref: "#/components/schemas/Pager"
                                    domains:
                                        type: array
                                        items:
                                            type: string
                                        description: List of domains
    /user/{userId}/hosting/{hostingId}/mailbox/{mailboxId}:
        get:
            summary: Get mailbox detail
            description: Retrieves detailed information about a specific mailbox.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/MailboxId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Mailbox"
        delete:
            summary: Delete mailbox
            description: Deletes an existing mailbox.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/DomainId"
                - $ref: "#/components/parameters/MailboxId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    errors:
                                        $ref: "#/components/schemas/ValidationErrors"
                                    item:
                                        $ref: "#/components/schemas/Mailbox"
                                    status:
                                        type: string
                                        description: Request status ('success' or 'error')
    /user/{userId}/hosting/{hostingId}/domain/{domainId}/mailbox:
        post:
            summary: Create new mailbox
            description: Creates a new mailbox for a specific domain.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/DomainId"
                - $ref: "#/components/parameters/RequiredDate"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Mailbox"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    item:
                                        $ref: "#/components/schemas/Mailbox"
                                    errors:
                                        $ref: "#/components/schemas/ValidationErrors"
                                    status:
                                        type: string
                                        description: Request status ('success' or 'error')
    /user/{userId}/hosting/{hostingId}/domain/{domainId}/mailbox/{mailboxId}:
        post:
            summary: Update mailbox
            description: Updates an existing mailbox.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/DomainId"
                - $ref: "#/components/parameters/MailboxId"
                - $ref: "#/components/parameters/RequiredDate"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Mailbox"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    item:
                                        $ref: "#/components/schemas/Mailbox"
                                    errors:
                                        $ref: "#/components/schemas/ValidationErrors"
                                    status:
                                        type: string
                                        description: Request status ('success' or 'error')
    /user/{userId}/hosting/{hostingId}/mail/size-stats:
        get:
            summary: Get email size history per hosting
            description: Retrieves the email size history per hosting for multiple domains.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/Interval"
                - $ref: "#/components/parameters/Length"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    domains:
                                        type: array
                                        items:
                                            type: string
                                        description: List of domains
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                size:
                                                    type: integer
                                                    description: Email size in bytes
                                                timestamp:
                                                    type: integer
                                                    description: Timestamp of the measurement
                                        description: List of email size measurements
                                    range:
                                        description: Range of timestamps for the measurements
                                        $ref: "#/components/schemas/Range"
    /user/{userId}/hosting/{hostingId}/mail/{domain}/size-stats:
        get:
            summary: Get email size history per domain
            description: Retrieves the email size history per domain.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/DomainName"
                - $ref: "#/components/parameters/Interval"
                - $ref: "#/components/parameters/Length"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                size:
                                                    type: integer
                                                    description: Email size in bytes
                                                timestamp:
                                                    type: integer
                                                    description: Timestamp of the measurement
                                        description: List of email size measurements
                                    range:
                                        description: Range of timestamps for the measurements
                                        $ref: "#/components/schemas/Range"
    /user/{userId}/hosting/{hostingId}/ftp-account:
        get:
            summary: List of all FTP accounts
            description: Retrieves a list of all FTP accounts for the specified user and hosting.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: integer
                                                    readOnly: true
                                                    description: FTP account ID
                                                hostingId:
                                                    type: integer
                                                    readOnly: true
                                                    description: Hosting ID
                                                createTime:
                                                    type: integer
                                                    description: Timestamp of account creation
                                                login:
                                                    type: string
                                                    description: FTP account login
                                                disabled:
                                                    type: boolean
                                                    description: Indicates if the account is disabled
                                                note:
                                                    type: string
                                                    description: Additional note or description
                                        description: List of FTP accounts
                                    pager:
                                        $ref: "#/components/schemas/Pager"
        put:
            summary: Create new FTP account
            description: Creates a new FTP account.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/RequiredDate"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/FTPAccount"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the request
                                    item:
                                        $ref: "#/components/schemas/FTPAccount"
                                    errors:
                                        $ref: "#/components/schemas/ValidationErrors"
    /user/{userId}/hosting/{hostingId}/ftp-account/{ftpAccountId}:
        get:
            summary: Get FTP account detail
            description: Retrieves the details of a specific FTP account.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/FTPAccountId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/FTPAccount"
        post:
            summary: Update FTP account
            description: Updates an existing FTP account.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/FTPAccountId"
                - $ref: "#/components/parameters/RequiredDate"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/FTPAccount"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the request
                                    item:
                                        $ref: "#/components/schemas/FTPAccount"
                "422":
                    description: Validation errors
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the request
                                    errors:
                                        $ref: "#/components/schemas/ValidationErrors"
        delete:
            summary: Delete FTP account
            description: Deletes an existing FTP account.
            tags:
                - Hosting service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/HostingId"
                - $ref: "#/components/parameters/FTPAccountId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the request
                                    item:
                                        $ref: "#/components/schemas/FTPAccount"

    # Invoice service
    /user/{userId}/invoice:
        get:
            summary: List of all invoices
            description: Retrieves a list of all invoices for a specific user.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/Page"
                - $ref: "#/components/parameters/PageSize"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    items:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/Invoice"
                                    pager:
                                        $ref: "#/components/schemas/Pager"
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden
                "404":
                    description: Not Found
    /user/{userId}/invoice/{invoiceId}:
        get:
            summary: Get an invoice detail
            description: Retrieves the details of a specific invoice.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/InvoiceId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Invoice"
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden
                "404":
                    description: Not Found
    /user/{userId}/invoice/{invoiceId}/pdf:
        get:
            summary: Get an invoice PDF
            description: Retrieves the PDF file of a specific invoice.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/InvoiceId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    id:
                                        type: string
                                        description: Invoice ID
                                    pdf:
                                        type: string
                                        format: byte
                                        description: Base64 encoded PDF file
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden
                "404":
                    description: Not Found
    /user/{userId}/invoice/{invoiceId}/raw-pdf:
        get:
            summary: Get an invoice PDF as RAW data
            description: Retrieves the PDF file of a specific invoice as binary data.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/InvoiceId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/pdf:
                            schema:
                                type: string
                                format: binary
                                description: PDF file as binary data
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden
                "404":
                    description: Not Found
    /user/{userId}/invoice/{invoiceId}/pay:
        get:
            summary: Pay it
            description: Provides payment options for an invoice.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/InvoiceId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Pay"
                "401":
                    description: Unauthorized
                "404":
                    description: Not Found
    /user/{userId}/invoice/{invoiceId}/pay/byCredit:
        put:
            summary: Pay with credit
            description: Pays an invoice using credits.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/InvoiceId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: boolean
                                        description: Indicates if the payment was successful
                "401":
                    description: Unauthorized
                "404":
                    description: Not Found
    /user/{userId}/invoice/{invoiceId}/pay/byPaymentCard/{paymentCardId}:
        put:
            summary: Pay with a stored card
            description: Pays an invoice using a stored payment card.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/InvoiceId"
                - $ref: "#/components/parameters/PaymentCardId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: boolean
                                        description: Indicates if the payment was successful
                "401":
                    description: Unauthorized
                "404":
                    description: Not Found

    # Order service
    /order/{market}:
        get:
            summary: List of available services
            description: Retrieves a list of available services and their prices for a specific market.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/Market"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        type:
                                            type: string
                                            description: Service type
                                        prices:
                                            type: array
                                            items:
                                                type: object
                                                properties:
                                                    tld:
                                                        type: string
                                                        description: Top-level domain
                                                    price:
                                                        type: number
                                                        format: float
                                                        description: Price for the specified TLD
                                                    limit:
                                                        type: integer
                                                        description: Hosting limit
                                                    ram:
                                                        type: integer
                                                        description: RAM size
                                                    disk:
                                                        type: integer
                                                        description: Disk size
                                                    vcpus:
                                                        type: integer
                                                        description: Number of virtual CPUs
                                        discounts:
                                            type: array
                                            items:
                                                type: object
                                                properties:
                                                    tld:
                                                        type: string
                                                        description: Top-level domain
                                                    price:
                                                        type: number
                                                        format: float
                                                        description: Discounted price for the specified TLD
                                        currency:
                                            type: string
                                            description: Currency code
                                        templates:
                                            type: array
                                            items:
                                                type: object
                                                properties:
                                                    name:
                                                        type: string
                                                        description: Template name
                                                    version:
                                                        type: string
                                                        description: Template version
                "404":
                    description: Not Found
    /order/{market}/{type}:
        get:
            summary: Service details
            description: Retrieves details of a specific service for a given market.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/Market"
                - $ref: "#/components/parameters/Type"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    type:
                                        type: string
                                        description: Service type
                                    prices:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                limit:
                                                    type: integer
                                                    description: Hosting limit
                                                price:
                                                    type: number
                                                    format: float
                                                    description: Price for the specified limit
                                    currency:
                                        type: string
                                        description: Currency code
                "404":
                    description: Not Found
    /order/{market}/validate:
        post:
            summary: Validate multiple services
            description: >
                Validates multiple services in a single request.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/Market"
                - $ref: "#/components/parameters/RequiredDate"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: array
                            items:
                                type: object
                                properties:
                                    type:
                                        type: string
                                        description: Service type (e.g., domain, thehosting)
                                    domain:
                                        type: string
                                        description: Domain name (required for domain service)
                                    limit:
                                        type: integer
                                        description: Hosting limit in MB (required for thehosting service)
                                    period:
                                        type: integer
                                        nullable: true
                                        description: Service billing period in months (nullable)
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        status:
                                            type: string
                                            description: Status of the validation
                                        item:
                                            type: object
                                            description: Validated service details
                                        errors:
                                            type: array
                                            description: Error messages for the service
                                            items:
                                                type: object
                "500":
                    description: Internal Server Error
    /order/{market}/validate/credit:
        post:
            summary: Validate credit
            description: >
                Validates order attributes for credit service.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/Market"
                - $ref: "#/components/parameters/RequiredDate"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - amount
                            properties:
                                amount:
                                    type: integer
                                    description: Amount to order (1 credit is 1 EUR, HUF or CZK depending on market)
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    item:
                                        $ref: "#/components/schemas/CreditValidity"
                                    status:
                                        type: string
                                        description: Status of the validation
                                    errors:
                                        type: object
                                        additionalProperties:
                                            type: array
                                            items:
                                                type: string
                                        description: Object containing field-specific error messages
                "500":
                    description: Internal Server Error
    /order/{market}/validate/domain:
        post:
            summary: Validate a domain
            description: Validates order attributes for a domain.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/Market"
                - $ref: "#/components/parameters/RequiredDate"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ValidateDomain"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the validation
                                    item:
                                        $ref: "#/components/schemas/DomainValidity"
                                    errors:
                                        oneOf:
                                            - type: array
                                              items:
                                                  type: string
                                              description: Array of error messages
                                            - type: object
                                              additionalProperties:
                                                  type: array
                                                  items:
                                                      type: string
                                              description: Object containing field-specific error messages
                "500":
                    description: Internal Server Error
    /order/{market}/validate/thehosting:
        post:
            summary: Validate The Hosting service
            description: Validates order attributes for The Hosting service.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/Market"
                - $ref: "#/components/parameters/RequiredDate"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ValidateHosting"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the validation
                                    item:
                                        $ref: "#/components/schemas/HostingValidity"
                                    errors:
                                        type: object
                                        additionalProperties:
                                            type: array
                                            items:
                                                type: string
                                        description: Object containing field-specific error messages
                "500":
                    description: Internal Server Error
    /order/{market}/validate/vps:
        post:
            summary: Validate VPS
            description: Validates order attributes for VPS service.
            tags:
                - Order service
                - VPS service
            parameters:
                - $ref: "#/components/parameters/Market"
                - $ref: "#/components/parameters/RequiredDate"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/VPS"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    item:
                                        allOf:
                                            - $ref: "#/components/schemas/VPS"
                                            - $ref: "#/components/schemas/Pricing"
                                    status:
                                        type: string
                                        description: Status of the validation
                                    errors:
                                        type: object
                                        additionalProperties:
                                            type: array
                                            items:
                                                type: string
                                        description: Object containing field-specific error messages
                "500":
                    description: Internal Server Error
    /user/{userId}/order:
        post:
            summary: Order services
            description: Orders multiple services.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/RequiredDate"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - services
                            properties:
                                note:
                                    type: string
                                    description: >
                                        Additional information for the helpdesk team
                                services:
                                    type: array
                                    items:
                                        type: object
                                        required:
                                            - type
                                        properties:
                                            type:
                                                type: string
                                                enum: [domain, thehosting]
                                            domain:
                                                type: string
                                                description: >
                                                    Domain name (required for 'domain' service type)
                                            limit:
                                                type: integer
                                                minimum: 1024
                                                description: >
                                                    Hosting limit in MB (required for 'thehosting' service type)
            responses:
                "201":
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the order
                                    item:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                                description: Order ID
                                            services:
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        status:
                                                            type: string
                                                            description: Status of the service
                                                        item:
                                                            type: object
                                                            description: Service details
                                                        errors:
                                                            type: array
                                                            items:
                                                                type: object
                                                            description: Error messages for the service
                                            note:
                                                type: string
                                                description: Additional information for the helpdesk team
                                    errors:
                                        type: array
                                        items:
                                            type: object
                                        description: Error messages for the order
                "200":
                    description: Validation error or input format error
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        description: Status of the order
                                    item:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                                nullable: true
                                                description: Order ID
                                            services:
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        status:
                                                            type: string
                                                            description: Status of the service
                                                        item:
                                                            type: object
                                                            description: Service details
                                                        errors:
                                                            type: object
                                                            properties:
                                                                domain:
                                                                    type: array
                                                                    items:
                                                                        type: string
                                                                    description: Error messages for the domain service
                                                                limit:
                                                                    type: array
                                                                    items:
                                                                        type: string
                                                                    description: Error messages for the hosting service
                                            note:
                                                type: string
                                                description: Additional information for the helpdesk team
                                    errors:
                                        type: object
                                        properties:
                                            services:
                                                type: array
                                                items:
                                                    type: string
                                                description: Error messages for the services in the order
                "500":
                    description: Internal Server Error
    /user/{userId}/order/{orderId}/pay:
        get:
            summary: Get payment URLs
            description: Retrieves the payment URLs for the specified order.
            tags:
                - Order service
            parameters:
                - $ref: "#/components/parameters/UserId"
                - $ref: "#/components/parameters/OrderId"
                - $ref: "#/components/parameters/RequiredDate"
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Pay"
                "404":
                    $ref: "#/components/responses/NotFound"
[...]
